/*
* THIS FILES IS FOR RESETTING SOME OF THE DEFAULTS STYLES
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
button {
    outline: none;
    background-color: transparent;
}
img,
video {
    background-color: #ededed;
    object-fit: cover;
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}
